/*################################# ШРИФТЫ ######################################## */
/* подключаем slider */
$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;

//@import '_swiper.scss';
/* ================================================================================ */

/* подключаем файл со sprites */
//&display=swap&subset=cyrillic-ext
//@import '_sprite.scss';
//$sprite: map-get($icons, sprite) !default;
//$baseFontSize: 16px !default;
/* ================================================================================ */

/* подключаем файл с миксинами */
@import '_mixin.scss';
/* ================================================================================ */

/* подключаем файл со шрифтами */
//&display=swap&subset=cyrillic-ext
@import '_fonts.scss';
/* ================================================================================ */


/* подключаем иконочный шрифт */
@import '_icons.scss';
/* ================================================================================ */
/* подключаем проверка тегов*/
//@import '_debug.scss';
/* ================================================================================ */
/* подключаем не стандартные скролл */
@import '_scroll.scss';
/* ================================================================================ */

/* подключаем обнуление */
@import '_nullstyle.scss';

/* ================================================================================ */

/* шрифт по умолчанию */
$fontFamily: "Circe";
$fontSize: 20; 
/*################################################################################# */

/* переменные по умолчанию */
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1600; /* добавляем 30 чтобы отступить от краёв через паддинг*/
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000000;
$orange: #DEB17F;
$darkGrayColor: #616161;


/* ================================================================================ */
/*################################################################################# */
//подключаем стили стандартных форм
@import '_forms.scss';



/* подключаем popup */
//@import '_popup.scss';

/* подключаем файл swiper */
@import '_swiper.scss';

//подключаем общие стили
@import '_common.scss';

/* ================================================================================ */
body{
//	background: #f9f1e7;
	font-family: $fontFamily;
	font-size: $fontSize + px;
	color: $mainColor;
	margin: 0 auto;

	&._lock{
		overflow: hidden;
	}
}

/* ================================================================================ */
/*################################################################################# */
/* оболочка */
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: #E5E5E5;
	&._loaded{
	}
}

/* ================================================================================ */
/*################################################################################# */
/* основная сетка */
._container{
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 47px;
	position: relative;
}




/* подключаем файл шапки */
@import '_header.scss';

/* подключаем первую секцию */
//@import '_section_1.scss';

/* подключаем вторую секцию */
//@import '_section_2.scss';

/* подключаем вторую секцию */
//@import '_section_3.scss';

/* подключаем вторую секцию */
//@import '_section_4.scss';

/* подключаем вторую секцию */
//@import '_section_5.scss';

/* подключаем вторую секцию */
//@import '_section_6.scss';

/* подключаем файл футера */
//@import '_footer.scss';

